%header
  .header-content
    .header-content-inner
      %h1 Better Productivity starts here
      %hr.orange
        -#%p We help you work more productive, minimize distractions and motivate you to make the best you can
        -#. Do not worry, we are just good angel on your shoulder, you do not have to listen to us if you do not want.
        %a.btn.btn-warning.btn-splash-main.page-scroll{:href => "#sign_up", 'data-toggle':  'modal', 'ng-hide': 'logged_in' } Sign up
        %a.btn.btn-warning.btn-splash-main.page-scroll{'ui-sref': "dashboards", 'ng-show': 'logged_in'} Dashboard
        %a.btn.btn-warning.btn-splash-main.page-scroll{'ui-sref': "experiments", 'ng-show': 'logged_in'} Experiment
        %img.ptop{'ng-src': '/assets/images/Coming-Soon.png', style: 'width: 30%; height: 30%'}
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading We help you work more effective!
        %hr.light
          %p.text-faded Start capturing your activity and thanks to our analysis you will get realtime feedback about your productivity status. We analyze how long and effective have you been working and recommend you to rest if you worked too hard, or to return to your work if the most of the time you did not and you wish you had.
          %a.btn.btn-default.btn-xl{:href => "#"} Get Started!
%section#features
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading At Your Service
        %hr.primary
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-bar-chart.wow.bounceIn.text-primary
          %h3 Watch Your Activity
          %p.text-muted Forgot to log your work? Look at what have you been doing that time and how long. Jira integration coming soon.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-bell-slash-o.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 Minimize Distractions
          %p.text-muted Every application is yelling at you? Turn off distracting ones!
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-user.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Personalize
          %p.text-muted We know you are unique. All your applications will be distinguished by your preferences
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-file-text-o.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Awesome Reports
          %p.text-muted Wondering how productive have you been today? Compare, share, but foremost, know where you may get better!
%aside#download.bg-dark
  .container.text-center
    .call-to-action
      %h2 Free Download!
      %hr.light
  .container
    .row
      .col-lg-4.col-md-4.col-xs-6.text-center
        .service-box
          %img.img-rounded{src: 'assets/images/google-chrome-extension.png', style: 'width: 30%; height: 30%;'}
          %br
          Install through Google Store
          %a.btn.btn-default.btn-xl.wow.pulse{:href => 'https://chrome.google.com/webstore/detail/mblgangnjaapjmmpenjhmhnpokpighfj', target: '_blank'} Chrome Extension
      .col-lg-4.col-md-4.col-xs-6.text-center
        .service-box
          %img.img-rounded{src: 'assets/images/linux_art.png', style: 'width: 26%; height: 26%;'}
          %br
          %p
            sudo dpkg -i unix-productivity-logger.deb
          %a.btn.btn-default.btn-xl.wow.pulse{:href => 'installers/unix-productivity-logger.deb', download: '', target: '_blank'} Linux
      .col-lg-4.col-md-4.col-xs-6.text-center
        .service-box
          %img.img-rounded{src: 'assets/images/windows-8-icon.png', style: 'width: 30%; height: 30%;'}
          %br
          %p
            Install
          %a.btn.btn-default.btn-xl.wow.pulse{:href => 'installers/productivity-logger.exe', download: '', target: '_blank'} Windows
%section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Give Us a Feedback
        %hr.primary
          %p Did you like this project? Or did you not? Is something missing to you or you want a new feature? Give us a touch!
      .col-lg-4.col-lg-offset-2.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn
        %p
          %a{:href => "mailto:vnenk@swips.sk"} vnenk@swips.sk
      .col-lg-4.text-center
        %i.fa.fa-comment.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{href: '#feedback-form', 'data-toggle': 'modal'} Send a message
          %div{'contact-form': ''}
