%header
  .header-content
    .header-content-inner
      %h1 Better Productivity starts here
      %hr.orange
        -#%p We help you work more productive, minimize distractions and motivate you to make the best you can
        -#. Do not worry, we are just good angel on your shoulder, you do not have to listen to us if you do not want.
        -#%a.btn.btn-warning.btn-xl.page-scroll{:href => "#about"} Find Out More
        %img{'ng-src': '/assets/images/Coming-Soon.png', style: 'width: 30%; height: 30%'}
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading We help you work more effective!
        %hr.light
          %p.text-faded Start capturing your activity and thanks to our analysis you will get realtime feedback about your productivity status. We analyze how long and effective have you been working and recommend you to rest if you worked too hard, or to return to your work if the most of the time you did not and you wish you had.
          %a.btn.btn-default.btn-xl{:href => "#"} Get Started!
%section#features
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading At Your Service
        %hr.primary
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
          %h3 Sturdy Templates
          %p.text-muted Our templates are updated regularly so they don't break.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 Ready to Ship
          %p.text-muted You can use this theme as is, or you can make changes!
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Up to Date
          %p.text-muted We update dependencies to keep things fresh.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Made with Love
          %p.text-muted You have to make your websites with love these days!
%aside#download.bg-dark
  .container.text-center
    .call-to-action
      %h2 Free Download!
      %a.btn.btn-default.btn-xl.wow.tada{:href => "#"} Download Now!
%section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Let's Get In Touch!
        %hr.primary
          %p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
      .col-lg-4.col-lg-offset-2.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p 123-456-6789
      .col-lg-4.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:your-email@your-domain.com"} feedback@startbootstrap.com