.row
  .col-xs-12
    %h1.page-header=I18n.t('dashboard.overview')
  .row
    .col-xs-12
      .panel.panel-default
        .panel-body
          %div{'dashboards-overview': ''}
    .col-xs-12
      .panel.panel-default
        .panel-body
          %div{'words-cloud': ''}
