.navbar-default.sidebar{role: 'navigation'}
  .sidebar-nav.navbar-collapse
    %ul#left-menu.nav.in
      %li
        %a.active{href: '#dashboard'}
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      -#%li
      -#  %a{href: '#activity-log'}
      -#    %i.fa.fa-dashboard.fa-fw
      -#    Activity log
#page-wrapper.left-menu
  .row
    .col-xs-12
      %h1.page-header=I18n.t('dashboard.overview')
    .row
      .row.col-xs-12.col-sm-6.col-md-4.col-xs-3
        .panel-body
          %h3 Select date range
          %input.form-control.date-picker{'date-range-picker': '', type: 'text', 'ng-model' => 'datePicker', max: 'datePicker.maxDate', options: "{timePicker: true, timePickerIncrement: 15, timePicker24Hour: true, locale: {format: 'DD.MM.YYYY H:mm '}}"}
      .col-xs-12
        .panel.panel-default
          .panel-body
            %div{'spiral-graph': '', data: 'spiral', spiraldata: 'spiraldata'}
      .col-xs-12
        .panel.panel-default
          .panel-body
            %div{'dashboards-overview': ''}
      .col-xs-12
        .panel.panel-default
          .panel-body
            %div{'words-cloud': ''}
