.col-xs-6
  %div{'timeline-spiral-detail': '', data: 'data', spiraldata: 'spiraldata'}
.col-xs-6
  %div{'timeline-spiral-overview': '', data: 'data', spiraldata: 'spiraldata'}
.col-xs-12
  %div{'jq-range-slider': '', data: 'data'}
