%input{type: 'text', id: :weight_duration, 'ng-model': 'weights.duration'}
%input{type: 'text', id: :weight_title, 'ng-model': 'weights.title'}
%input{type: 'text', id: :weight_header, 'ng-model': 'weights.header'}
%input{type: 'text', id: :weight_description, 'ng-model': 'weights.description'}
%input{type: 'text', id: :weight_text, 'ng-model': 'weights.text'}
%vis-timeline#words-cloud-timeline{data: 'wordCloudTimeline', options: 'wcTimelineOptions'}
