// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
//section {
//  @extend .row;
//  margin-top: 20px;
//  }

.navbar-static-top {
  left: 0;
  right: 0;
  margin: 0;
}

.panel-group a {
  color: $gray-darker;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

body > [uib-modal-window]:not([modal-render]) {
  display: none;
}