// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #095470;
$brand-success: #5cb85c;
$brand-info: #1aa2d9;
$brand-warning: #f0ad4e;
//$brand-danger: #d9534f;
$brand-danger: #862A18;
$brand-danger-lighter: #9d321c;
$brand-grey: #eaebeb;
$brand-green: #054a4a;
$blue-darker: #2B3A42;
$blue: $brand-primary;

