.draggable.col-lg-3.col-md-6{id: 'experiment-draggable-{{application.id}}', 'data-app-id': '{{application.id}}' }
  .panel.panel-primary
    .panel-heading.fit-text
      {{application.name}}
    .panel-body.fit-text
      %a{href: '{{application.url}}'} {{application.url}}
