.draggable{id: 'experiment-draggable-{{application.id}}', 'data-app-id': '{{application.id}}' }
  .panel.panel-primary
    .panel-heading.fit-text
      {{application.name}}
      .pull-right.thumbs-space
        %i.fa.fa-thumbs-down{'ng-click': 'set_non_working_app(application.id)', 'ng-class': "application.is_work === false ? 'text-success' : 'exp-head-icon' "}
        %i.exp-head-icon.fa.fa-thumbs-up{'ng-click': 'set_working_app(application.id)', 'ng-class': "application.is_work === true ? 'text-success' : 'exp-head-icon' "}
    .panel-body.fit-text
      .row.col-md-12
        %strong {{application.titles}}
      .row.col-md-12
        %a{href: '{{application.url}}', target:'_blank'} {{application.url}}
