.col-md-2.col-lg-2
  .panel.panel-green{id: '{{application_type.id}}'}
    .panel-heading
      {{application_type.text}}
    .panel-footer
      .list-group{'ng-repeat': 'app_page in application_type.application_pages track by app_page.id'}
        %a.list-group-item{href: '#', id: 'pages-item-{{app_page.id}}', 'data-item-id': '{{app_page.id}}'}
          %i.fa.fa-times.fa-fw.text-danger{'ng-click': 'application_type.removeApp(app_page)'}
          {{app_page.name}}
          %i.pull-right.fa.fa-thumbs-up{'ng-show': 'app_page.is_work === true'}
          %i.pull-right.fa.fa-thumbs-up.text-gray{'ng-show': '!app_page.is_work', 'ng-click': 'set_working_app(app_page.id)'}
          %i.pull-right.fa.fa-thumbs-down{'ng-show': 'app_page.is_work === false'}
          %i.pull-right.fa.fa-thumbs-down.text-gray{'ng-show': 'app_page.is_work !== false', 'ng-click': 'set_non_working_app(app_page.id)'}
