#page-wrapper{'ng-class': "{true: 'no-left-menu', false: 'no-left-menu'}[hiddenLeftMenu]", 'ng-intro-options':'intro_options', 'ng-intro-method':'runIntro'}
  .row
    .col-lg-12
      %h1.page-header
        =I18n.t('experiment.title')
        %button.btn.btn-primary{'ng-click': 'runIntro();','ng-show': '!exp_success'}
          Run intro
    .row
      .col-lg-12
        %div.col-lg-3.col-md-6{'experiment-application-list': '', 'ng-repeat': 'application in application_list track by application.id'}
    .row.application-types
      %div.col-md-2.col-lg-2{'experiment-application-type': '', 'ng-repeat': 'application_type in application_types'}
    .row.pull-right
      %button.btn-lg.btn-primary{'ng-click': 'submit()','ng-show': '!exp_success'}
        Submit
      %p.text-success{'ng-show': 'exp_success'}
        %i.fa.fa-heart
        Thank you for your time and help

