.row
  .col-lg-12
    %h1.page-header=I18n.t('experiment.title')
  .row
    .col-lg-12
      = I18n.t('experiment.description')
      %div{'experiment-application-list': '', 'ng-repeat': 'application in application_list track by application.id'}
  .bottom-panel
    %div{'experiment-application-type': '', 'ng-repeat': 'application_type in application_types'}
