.modal-header
  %h3.modal-title
    Working status not selected
.modal-body
  Please, select thumb up for applications you use in work and thumb down for applications you do not use in work. Do no select thumb if you cannot decide
.modal-footer
  %button.btn.btn-primary{type: 'button', 'ng-click': 'ok()'}
    OK